body {
  overflow-x: hidden;
}

.view {
  height: 90vh;
  background-image: url("../img/img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  z-index: -1;
}

@font-face {
  font-family: textgrayr;
  src: url("../font/TeX-Gyre-Adventor/texgyreadventor-regular.otf");
}

@font-face {
  font-family: textgrayb;
  src: url("../font/TeX-Gyre-Adventor/texgyreadventor-bold.otf");
}

@font-face {
  font-family: segoe;
  src: url("../font/segoe-ui-4-cufonfonts-webfont/Segoe UI Bold Italic.woff");
}

#cookies {
  height: 100vh;
  width: 100%;
  background-color: #000000;
  opacity: 40%;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 10;
}

#cookiestexst {
  width: 100%;
  padding: 20px;
  height: 10vh;
  position: fixed;
  border-radius: 5px;
  display: flex;
  height: 90vh;
  align-items: flex-end;
  justify-content: center;
  z-index: 10;
}

#cookiestexst p {
  font-family: textgrayr;
  color: #363636;
  font-size: 10px;
  margin: 10px;
  width: 450px;
  margin-right: 150px;
}

#cookiestexst p > a {
  font-size: 10px;
  font-family: textgrayb;
  color: #363636;
  font-size: 10px;
  margin: 10px;
  width: 450px;
  margin-right: 150px;
}

.cookilink {
  font-family: textgrayb;
  color: #363636;
  font-size: 12px;
}

.cookilink:hover {
  font-family: textgrayb;
  color: #363636;
  font-size: 12px;
}

.text-btn {
  display: flex;
  flex-flow: column nowrap;
  flex-direction: row;
  row-gap: 10px;
  height: 70px;
  background-color: white !important;
  /* width: 50%; */
  border-radius: 5px;
  justify-content: right;
  position: relative;
  text-align: start;
}

@media (max-width: 1080px) {
  .text-btn {
    width: 70%;
    height: 90px;
  }
  #cookiestexst p {
    font-size: 10px;
    margin-right: 160px;
  }
  #cookiestexst p > a {
    font-size: 10px;
    margin-right: 160px;
  }
  .btn-blue {
    height: 45px !important;
    width: 120px !important;
  }
  .btn-gray {
    height: 45px !important;
    width: 120px !important;
  }
}

@media (max-width: 740px) {
  #cookiestexst p {
    font-size: 10px;
    margin-right: 125px;
  }
  #cookiestexst p > a {
    font-size: 9px;
    margin-right: 125px;
  }
  .btn-blue {
    height: 46.5px !important;
    width: 120px !important;
  }
  .btn-gray {
    height: 46.5px !important;
    width: 120px !important;
  }
  .text-btn {
    width: 85%;
    height: 93px;
  }
}

.cookbtn {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.btn-blue {
  background-color: #009ff4;
  font-family: textgrayb;
  color: white;
  text-decoration: none;
  width: 152px;
  height: 35px;
  text-align: center;
  padding-top: 10px;
  border-bottom-right-radius: 5px;
  justify-items: center;
  justify-items: center;
}

.btn-blue:hover {
  background-color: #0392df;
  font-family: textgrayb;
  color: white;
  text-decoration: none;
}

.btn-gray {
  background-color: #efeded;
  font-family: textgrayb;
  color: #363636;
  text-decoration: none;
  width: 152px;
  height: 35px;
  text-align: center;
  padding-top: 10px;
  border-top-right-radius: 5px;
}

.btn-gray:hover {
  background-color: #d3cfcf;
  font-family: textgrayb;
  color: #474747;
  text-decoration: none;
}

a.navbar-brand strong {
  font-family: segoe;
  font-weight: bold;
  color: #eae9f3;
  font-size: 30px;
  font: normal normal bold 45px/65px Segoe UI;
}

a.nav-link {
  font-family: textgrayb !important;
  font-weight: regular !important;
  color: #f3f2e9 !important;
  letter-spacing: 0.4px;
  text-shadow: #00000029;
}

a.nav-link:hover {
  color: rgb(216, 211, 211) !important;
}

@media (max-width: 1366px) {
  .view {
    height: 90vh;
    font-weight: normal !important;
    color: #f3f2e9 !important;
    font-size: 16px !important;
  }
}

@media (max-width: 991px) {
  .view {
    height: 90vh;
    font-weight: normal !important;
    color: #f3f2e9 !important;
    font-size: 16px !important;
  }
}

@media (max-width: 991px) {
  #navbarSupportedContent {
    background-color: #2a455d;
    border: 1px solid;
    padding: 30px;
    border-bottom: 1px solid;
  }
  .nav-item.active {
    border-bottom: 1px solid;
  }
}

#viewtext {
  display: flex;
  height: 90vh;
  align-items: center;
  position: relative;
}

h1.h1-responsive {
  font-family: textgrayb !important;
  color: #f3f2e9 !important;
  letter-spacing: 1.22px;
}

h6.group {
  font-family: textgrayr !important;
  color: #f3f2e9 !important;
  letter-spacing: 0.6px;
}

.btn-white {
  font-family: textgrayb;
  border: none;
  border-radius: 5px;
  color: #2a455d;
  background-color: #ffffff;
  padding: 10px 40px;
  width: 190px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 70px !important;
  cursor: pointer;
}

.btn-white:hover {
  font-family: textgrayb;
  color: #2a455d !important;
  background-color: #f3f2e9 !important;
}

.btn-yel {
  font-family: textgrayb;
  border: none;
  border-radius: 5px;
  color: #2a455d;
  background-color: #fccd3b;
  padding: 10px 40px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 70px !important;
  cursor: pointer;
}

.btn-yel:hover {
  font-family: textgrayb;
  color: #2a455d !important;
  background-color: #ffc107 !important;
  border: none;
}

.top-nav-collapse {
  background-color: #64b7ff !important;
  font-family: textgrayb !important;
  font-weight: normal !important;
  color: #23b3c4 !important;
  font-size: 16px !important;
}

h6 {
  line-height: 1.7;
}
/* ---------fixed chat button----------- */

.glow-on-hover {
  width: 100px;
  height: 100px;
  border: none;
  outline: none;
  background: transparent;
  opacity: 1;
  position: fixed;
  z-index: 1001;
  bottom: 10px;
  right: 10px;
  padding-left: 70px;
  border-radius: 50px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #2971dd,
    #237bff,
    #3882f1,
    #3060c0,
    #cfe2ff,
    #0058db,
    #1958b8,
    #0368ff,
    #71a0ff,
    #0056d8,
    #cfe2ff
  );
  position: absolute;
  top: 2px;
  left: 6px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(60% + 2px);
  height: calc(60% + 2px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50%;
}

.glow-on-hover:active {
  background: transparent url("../img/icon2.svg") 0% 0% no-repeat padding-box;
}

.glow-on-hover:active:after {
  background: transparent url("../img/icon2.svg") 0% 0% no-repeat padding-box;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent url("../img/icon2.svg") 0% 0% no-repeat padding-box;
  left: 0;
  top: 0;
  border-radius: 50px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* ---------fixed chat button----------- */
/* --------------------the second section start ------------------  */

div.text h5 {
  font-family: textgrayb;
  margin-top: 110px;
  font-size: 20px;
  letter-spacing: 1.5px;
  text-align: left;
}

div.text h2 {
  font-family: textgrayb;
  margin-bottom: 30px;
  margin-top: 20px;
  color: #2a455d;
  font-size: 50px;
  letter-spacing: 1.5px;
  text-align: left;
}

div.text h6 {
  font-family: textgrayr;
  margin-top: 20px;
  color: #2a455d;
  font-size: 18px;
  letter-spacing: 1.5px;
  text-align: left;
}

div.text p {
  font-family: textgrayr;
  color: #2a455d;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-align: left;
}

.card.img {
  max-width: 32rem;
  border: none;
}

@media (max-width: 991px) {
  .card.img {
    border: none;
    max-width: 100rem;
    margin: 20px;
  }
}
/* ++++++++++++++++++++++++  the second section end  ++++++++++++++++++++++++   */
/* --------------------------------the WELCOME section start ------------------ */

.bghand {
  background-color: #fccd3d;
  height: 70px;
  border-top-left-radius: 70px;
  font-family: textgrayb;
  color: #29445b;
  font-size: 22px;
  border-bottom-right-radius: 70px;
  z-index: 1;
  margin-left: 20px;
}

.bghand p {
  margin-left: 50px;
  margin-top: 20px;
}

.col-md-12.text {
  font-family: textgrayr;
  color: #f3f2e9;
  padding-left: 66px;
  padding-top: 50px;
}

.card.image {
  max-width: 32rem;
  border: none;
  margin-top: 150px;
}

@media (max-width: 991px) {
  .card.image {
    border: none;
    max-width: 100rem;
    margin: 20px;
  }
  #direction {
    display: flex;
    flex-direction: column-reverse;
  }
}

.card.col-md-4.col-sm-4 > img {
  width: 90px;
  height: 90px;
  justify-content: center;
  margin: 20px;
  margin-left: 35px;
}

.card.col-md-4.col-sm-4 p {
  font-family: textgrayb;
  color: #29445b;
  text-align: center;
  font-size: 12px;
}

.card.col-md-4.col-sm-4 {
  border-radius: 8px;
  margin: 5px;
  width: 190px;
  height: 190px;
  border: none;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom1 {
  animation: fade-bottom 0.2s ease-in;
}

.active.fade-bottom2 {
  animation: fade-bottom 0.3s ease-in;
}

.active.fade-bottom3 {
  animation: fade-bottom 0.4s ease-in;
}

.active.fade-bottom4 {
  animation: fade-bottom 0.5s ease-in;
}

.active.fade-bottom5 {
  animation: fade-bottom 0.6s ease-in;
}

.active.fade-bottom6 {
  animation: fade-bottom 0.7s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* ++++++++++++++++++++++++  the WELCOME section end  ++++++++++++++++++++++++ */
/* --------------download section start--------------- */

.download {
  background-image: url(../img/img18.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: outo 100%;
  align-items: center;
  z-index: -1;
}

.overlay {
  bottom: 20px;
  left: 20px;
  color: #2a455d;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  z-index: 1;
}

.overlay-text {
  font-family: textgrayb;
  color: #2a455d;
  letter-spacing: 0.5px;
  padding: 5px;
  padding-left: 15px;
  margin-top: 30px;
  z-index: 1;
  position: relative;
  top: 10px;
  left: 0px;
  width: 370px;
}

.overlay-text::before {
  content: "";
  background-color: #fccd3d;
  width: 65%;
  position: absolute;
  height: 50px;
  z-index: -1;
  left: 0%;
  top: 0%;
}

.overlay-text::after {
  content: "";
  background-color: #fccd3d;
  height: 50px;
  width: 4px;
  position: absolute;
  top: 0%;
  left: calc(65% + 5px);
  z-index: -1;
}

.overlay p {
  font-family: textgrayr;
  color: #2a455d;
  font-size: 18 px;
  margin-bottom: 15px;
  padding-top: 15px;
  letter-spacing: 0.5px;
}

img.app {
  max-height: 100px;
  max-width: 150px;
  object-fit: contain;
}

img.ap {
  max-height: 100px;
  max-width: 150px;
  object-fit: contain;
  margin-left: 5px;
}
/* ++++++++++++++++++++++++  download section end  ++++++++++++++++++++++++  */
/* -------------------start news section----------------- */

.overlay-new {
  font-family: textgrayb;
  color: #2a455d;
  letter-spacing: 0.5px;
  padding-top: 200px;
  padding-left: 5px;
  position: relative;
  width: 70px;
}

.col .newtext {
  position: relative;
}

h3.overlay-new::before {
  content: "";
  background-color: #fccd3d;
  width: 100%;
  position: absolute;
  height: 239px;
  z-index: -1;
  left: 0%;
  top: 0%;
}

.overlay-new::after {
  content: "";
  background-color: #fccd3d;
  width: 4px;
  position: absolute;
  height: 239px;
  z-index: -1;
  left: calc(100% + 5px);
  top: 0%;
}

.newtext h6 {
  font-family: textgrayb;
  color: #2a455d;
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  padding-top: 30px;
}

.newtext p {
  font-family: textgrayr;
  color: #2a455d;
  font-size: 16px;
  text-align: left;
  line-height: 20px;
  padding-top: 30px;
}
/*  ++++++++++++++++++news section end++++++++++++++++++*/
/* ----------------twitter section----------------  */

.overlay-texttow::before {
  content: "";
  background-color: #fccd3d;
  width: 90%;
  position: absolute;
  margin-top: 0px;
  height: 50px;
  z-index: -1;
  top: 0%;
  left: 0%;
}

.overlay-texttow:after {
  content: "";
  background-color: #fccd3d;
  width: 4px;
  position: absolute;
  margin-top: 0px;
  left: calc(90% + 5px);
  height: 50px;
  z-index: 1;
  top: 0%;
}

.overlay-texttow {
  font-family: textgrayb;
  color: #2a455d;
  width: 300px;
  letter-spacing: 0.5px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 3px;
  position: relative;
}
/* +++++++++++++++twitter section end +++++++++++++++++++++*/
/* ------------------------------footer---------------------------- */

.footerg {
  background: #284158;
}

.logo-footer {
  margin-bottom: 40px;
}

footer {
  color: #f3f2e9;
}

footer p,
a {
  font-size: 12px;
  font-family: textgrayr;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: textgrayr;
  font-size: 12px;
}

ul > li {
  padding: 2px;
  color: #f3f2e9;
  font-family: textgrayr;
}

ul > li:hover {
  color: #cccbc5;
  cursor: pointer;
}

.logo-part {
  border-right: 1px solid grey;
  margin-top: 50px;
}
/* ------------------------------footer---------------------------- */

.ice {
  font-size: 16px;
  animation-name: fall;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  position: absolute;
  top: 0;
  color: #ffffff;
  left: 300px;
  height: 90vh !important;
}

@keyframes fall {
  0% {
    transform: translateY(-5vh);
  }
  100% {
    transform: translateY(89vh);
  }
}
